/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --text: #241623;    /*dark purple */
  --secondary: #1aaf89; /*light green */
  --primary: #1f6356; /*dark green */
  --background: #ededed; /*alabaster */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #ededed;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  /* color: #FFF; */
}

form {
  padding: 5rem;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  /* color: #241623;; */
  font-weight: bold;
  text-decoration: underline;
}

.form-wrapper {
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 2px 4px
}

.header {
  text-align: center;
  font-weight: bold;
  padding: 60px 10px 10px 10px;
  margin: 10px auto;
  font-size: 24px;
}